# Dependency directories
node_modules/

# Local test directories created by test harness
.mos_test_dir/

# Local memory folders and DB (if initialized inside this repository)
.nma/nma.db
temp_clip.txt

# Compiled configuration rules
# Note: You can optionally track .cursorrules and claudecode.md to share rules with your team.
#.cursorrules
#claudecode.md
nma-context.md

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Windows-specific system files
Thumbs.db
ehthumbs.db
Desktop.ini
